<div class="footer">
  <div class="footer-content">Site and design © 2020 <a href="https://gitlab.com/RiGHTSTYLE/please-install">Please Install</a></div>
  <div class="footer-content">|</div>
  <div class="footer-content">Powered by Clojure</div>
  <div class="footer-content">|</div>
  <div class="footer-content">Version {{version}}</div>
</div>