<style>
    .nav-item {
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      display: inline-block;
      vertical-align: text-top;
      padding-left: 15px;
      padding-right: 15px;
      font-weight: bold;
      color: #000000;
      font-size: 20px;
    }

    .nav-item:hover {
      text-decoration: underline;
      cursor: pointer;
      text-decoration-color: red;
    }

    .nav-content{
      padding-top: 10px;
      padding-bottom: 30px;
      text-align: center;
    }
  </style>
  <div class="nav-content">
    <a class="nav-item" href="/">Home</a>
    <a class="nav-item" href="/about">About</a>
    {% if user %}
      {% include "/admin-pages/admin-nav.html" %}
      <a class="nav-item" href="/logout">Logout</a>
    {% else %}
      <a class="nav-item" href="/login">Login</a>
    {% endif %}
  </div>  