<select name="software-sub-categories" id="software-sub-categories">
  {% for software-sub-category in software-sub-categories %}
    <option value="{{software-sub-category.id}}">{{software-sub-category.name}}</option>
  {% endfor %}
</select>
