<select name="software-categories" id="software-categories" >
  {% for software-category in software-categories %}
    <option value="{{software-category.id}}">{{software-category.name}}</option>
  {% endfor %}
</select>

