<select name="software-category-sub-category" id="software-category-sub-category">
  {% for software-category in software-categories %}
    <optgroup label="{{software-category.name}}">
    {% for software-sub-category in software-sub-categories %}
      {% ifequal software-sub-category.software_category_id software-category.id %}
        <option value="{{software-sub-category.id}}">{{software-sub-category.name}}</option>
      {% endifequal %}
    {% endfor %}
    </optgroup>
  {% endfor %}
</select>
  