html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 10px;
    padding-right: 10%;
    padding-left: 10%;
}

.body-main {
    position: relative;
    min-height: 100vh;
}

.main-content {
    text-align: center;
}

.auth-form {
    text-align: center;
    margin-right: 40%;
}

.footer {
    position: none;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-content {
    padding-left: 4px;
    padding-right: 4px;
    font-family: Arial, sans-serif;
    font-size: 0.7em;
}

.logo {
    font-size: 4rem;
    padding-bottom: 2rem;
    font-family: "Courier";
}