  <style>
    .admin-item {
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      display: inline-block;
      vertical-align: text-top;
      padding-left: 15px;
      padding-right: 15px;
      font-weight: bold;
      color: #000000;
      font-size: 20px;
    }

    .admin-item:hover {
      text-decoration: underline;
      cursor: pointer;
      text-decoration-color: blue;
    }

  </style>
  <a class="admin-item" href="/admin-users">User Tools</a>
  <a class="admin-item" href="/admin-software">Software Tools</a>