{% extends "base.html" %}
{% block content %}
<style>
  .admin-main-content {
    position: relative;
    display: inline-flex;
    width: 100%;
  }

  .left-content {
    text-align: center;
  }

  .right-content {
    text-align: center;
  }

  .form-input {
    text-align: right;
  }

  .admin-content {
    min-width: 49%;
    width: 49%;
    max-width: 49%;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
  }

  .admin-content-table {
    font-size: 12px;
  }

  .form-input {
    text-align: right;
  }

  table {
    border-collapse: collapse;
  }

  table, td, th {
    border: 1px solid black;
  }

  td, th {
    word-wrap: break-word;
    min-width: 100px;
    max-width: 100px;
  }
</style>
<div class="admin-main-content">
<div class="admin-content left-content">
  <h4>User List</h4>
  <table class="admin-content-table">
    <tr>
      <th word-wrap=>user_name</th>
      <th>email</th>
      <th>internal</th>
      <th></th>
    </tr>
  {% for user in users %}
    <div class="admin-list-item">
      <tr>
        <td>{{user.user_name}}</td>
        <td>{{user.email}}</td>
        <td>
            {% if user.internal %}
              <input type="checkbox" checked disabled />
            {% else %}
              <input type="checkbox" unchecked disabled />
            {% endif %}
        </td>
        <td>
          {% ifequal user.user_name "root" %}
          {% else %}
            <form id="del-button-{{forloop.counter}}" name="del-button-{{forloop.counter}}" action="/admin-del-user" method="POST">
              {% csrf-field %}
              <input id="user-id" name="user-id" type="text" value="{{user.id}}" hidden />
              <input type="submit" value="Delete" />
            </form>
          {% endifequal %}
        </td>
      </tr>
    </div>
  {% endfor %}
  </table>  
</div>
<div class="admin-content right-content">
  <h4>Add User</h4>
  <form name="input" action="/admin-add-user" method="POST">
    {% csrf-field %}
    <div class="form-input">Username: <input type="text" name="username" id="username" /></div>
    <div class="form-input">Password: <input type="password" name="password" id="password" /></div>
    <div class="form-input">Email: <input type="text" name="email" id="email" /></div>
    <div class="form-input">Internal: <input type="checkbox" name="internal" id="internal" /></div>
    <div class="form-input"><input type="submit" value="Submit"></div>
  </form>
</div>
</div>
{% endblock %}
