{% extends "base.html" %}
{% block content %}
<style>
  .admin-main-content {
    width: 100%;
  }

  .admin-content {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
  }

  .add-software-content {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
  }

  .form-input {
    text-align: right;
  }

  .admin-content-table {
    font-size: 12px;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }

  table, td, th {
    border: 1px solid black;
  }

  td, th {
    word-wrap: break-word;
    max-width: 150px;
  }

  .brand-img {
    height: 25px;
    width: 25px;
  }

  .add-software-content-distributions {
    display: grid;
  }

  .distro-label {
    padding-top: 1rem;
  }

  .submit-button {
    padding-top: 1rem;
  }
</style>
<div class="admin-main-content">
  <div class="admin-content">
    <div class="add-software-content">
      <h4>Add Software</h4>
      <form name="input" action="/admin-add-software" method="POST" onsubmit="aggregateInstallCandidates()">
        {% csrf-field %}
        <div class="form-input">Name: <input type="text" name="software_name" id="software_name" required /></div>
        <div class="form-input">Description: <input type="text" name="description" id="description" required /></div>
        <div class="form-input">Main URL: <input type="text" name="main_url" id="main_url" /></div>
        <div class="form-input">Source Code URL: <input type="text" name="source_code_url" id="source_code_url" /></div>
        <div class="form-input">CLI: <input type="checkbox" name="cli" id="cli" /></div>
        <div class="form-input">Category: {% include "supplimental/software-category-sub-category-dropdown.html" %}</div>
        <div class="form-input">License: {% include "supplimental/license-dropdown.html" %}</div>
        
        <div class="add-software-content-distributions">
          {% for distribution in distributions %}
            <label class="distro-label" for="distro-id-{{distribution.id}}">{{distribution.name}} installation candidate</label>
            <input class="distro-input" type="text" id="{{distribution.id}}" required />
          {% endfor %}
        </div>
        <div class="form-input">
          <input type="text" name="distribution-install-candidate" id="distribution-install-candidate" hidden />
        </div>
        <div class="form-input submit-button"><input type="submit" value="Submit"></div>
      </form>
    </div>
  </div>  

  <div class="admin-content">
    <h4>Software List</h4>
    <table class="admin-content-table">
      <tr>
        <th>name</th>
        <th>category</th>
        <th>sub-category</th>
        <th>license</th>
        <th>description</th>
        <th>main_url</th>
        <th>source_code_url</th>
        <th>cli</th>
        <th></th>
      </tr>
      {% for software-data in software-datas %}
        <tr>
          <td>{{software-data.software_name}}</td>
          <td>{{software-data.software_category_name}}</td>
          <td>{{software-data.software_sub_category_name}}</td>
          <td>{{software-data.license_name}}</td>
          <td>{{software-data.description}}</td>
          <td>
            {% if software-data.main_url %}
              <a href="{{software-data.main_url}}">link</a>
            {% else %}
            -
            {% endif %}  
          </td>
          <td>
            {% if software-data.source_code_url %}
              <a href="{{software-data.source_code_url}}">source code</a>
            {% else %}
            -
            {% endif %}    
          </td>
          <td>
            {% if software-data.cli %}
              <input type="checkbox" checked disabled />
            {% else %}
              <input type="checkbox" unchecked disabled />
            {% endif %}
          </td>
          <td>
            <form id="del-button-{{forloop.counter}}" name="del-button-{{forloop.counter}}" action="/admin-del-software" method="POST">
              {% csrf-field %}
              <input id="software-id" name="software-id" type="text" value="{{software-data.id}}" hidden />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="admin-content">
    <div class="add-software-content">
      <h4>Add Software Category</h4>
      <form name="input" action="/admin-add-software-category" method="POST">
        {% csrf-field %}
        <div class="form-input">Name: <input type="text" name="software-category-name" id="software-category-name" /></div>
        <div class="form-input">Description: <input type="text" name="software-category-description" id="software-category-description" /></div>
        <div class="form-input"><input type="submit" value="Submit"></div>
      </form>
    </div>
  </div>  

  <div class="admin-content">
    <h4>Software Category List</h4>
    <table class="admin-content-table">
      <tr>
        <th>name</th>
        <th></th>
      </tr>
      {% for software-category in software-categories %}
        <tr>
          <td>{{software-category.name}}</td>
          <td>
            <form id="del-button-{{forloop.counter}}" name="del-button-{{forloop.counter}}" action="/admin-del-software-category" method="POST">
              {% csrf-field %}
              <input id="software-category-id" name="software-category-id" type="text" value="{{software-category.id}}" hidden />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="admin-content">
    <div class="add-software-content">
      <h4>Add Software Sub Category</h4>
      <form name="input" action="/admin-add-software-sub-category" method="POST">
        {% csrf-field %}
        <div class="form-input">Name: <input type="text" name="software-sub-category-name" id="software-sub-category-name" /></div>
        <div class="form-input">Description: <input type="text" name="software-sub-category-name-description" id="software-sub-category-name-description" /></div>
        <div class="form-input">Category: {% include "supplimental/software-category-dropdown.html" %}</div>
        <div class="form-input"><input type="submit" value="Submit"></div>
      </form>
    </div>
  </div>  

  <div class="admin-content">
    <h4>Software Sub-Category List</h4>
    <table class="admin-content-table">
      <tr>
        <th>name</th>
        <th>software category</th>
        <th></th>
      </tr>
      {% for software-sub-category in software-sub-categories %}
        <tr>
          <td>{{software-sub-category.name}}</td>
          {% for software-category in software-categories %}
            {% ifequal software-category.id software-sub-category.software_category_id %}
              <td>{{software-category.name}}</td>
            {% endifequal %}
          {% endfor %}
          <td>
            <form id="del-button-{{forloop.counter}}" name="del-button-{{forloop.counter}}" action="/admin-del-software-sub-category" method="POST">
              {% csrf-field %}
              <input id="software-sub-category-id" name="software-sub-category-id" type="text" value="{{software-sub-category.id}}" hidden />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <script>
    function aggregateInstallCandidates() {
      let distros = document.getElementsByClassName("distro-input");
      let distributionInstallCandidate = document.getElementById("distribution-install-candidate");
      let aggregates = '[';

      for (var i = 0; i < distros.length; i++) {
        aggregates = aggregates + '{\"id\":\"' + distros[i].getAttribute("id") + '\",\"val\":\"' + distros[i].value + '\"},';
      }

      aggregates = aggregates.slice(0, -1) + ']';

      distributionInstallCandidate.value = aggregates;
    }
  </script>
{% endblock %}
