{% extends "base.html" %}
{% block content %}
  <style>
    .panel {
      padding-top: 30px;
    }

    .panel-content {
      font-family: "Courier New", Courier, monospace;
      font-size: 14px;
      padding-top: 10px;
      display: flex;
      justify-content: center;
    }

    .panel-header {
      font-family: "Courier New", Courier, monospace;
      font-size: 24px;
    }

    .panel-sub-content {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .brand-img {
      height: 100px;
      width: 100px;
    }
  </style>
  <div class="main-content">
    <div class="panel">
      <div class="panel-content">
        pleaseinstall.me is a place that aggregates popular software used on linux
      </div>
    </div>
    <div class="panel">
      <div class="panel-header">
        Powered by
      </div>
      <div class="panel-content">
        <div class="panel-sub-content"><a href="https://clojure.org/"><img class="brand-img" src="/img/logos/clojure-logo.svg" alt="clojure-logo" /></div></a>
        <div class="panel-sub-content"><a href="https://luminusweb.com/"><img class="brand-img" src="/img/logos/luminus.svg" alt="luminus-logo" /></div></a>
        <div class="panel-sub-content"><a href="https://www.postgresql.org/"><img class="brand-img" src="/img/logos/postgresql-logo.svg" alt="postgresql-logo" /></div></a>
      </div>
    </div>
  </div>
{% endblock %}