<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site-title}}</title>
    {% style "/css/_main.css" %}
  </head>
  <body>
    <div class="body-main">
      <div class="logo" style="text-align: center;">
        pleaseinstall.me
      </div>
      <section class="section">
        {% include "/supplimental/nav.html" %}
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </section>
      {% block page-scripts %}
      {% endblock %}
    </div>
    {% include "/supplimental/footer.html" %}
  </body>
</html>
