<!DOCTYPE html>
<html>
<head>
    <title>Something Bad Happened</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% style "/assets/bulma/css/bulma.min.css" %}
    <style type="text/css">
        html {
            height: 100%;
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            width: 100%;
        }
        html body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
            font-family: "Courier New", Courier, monospace;
        }
        html .container-fluid {
            display: table;
            height: 100%;
            padding: 0;
            width: 100%;
        }
        html .row-fluid {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="container is-fluid">
    <div class="has-text-centered">
        <h1><span class="is-size-4 has-text-danger">Error: {{status}}</span></h1>
        <hr>
        {% if title %}
        <h2 class="without-margin">{{title}}</h2>
        {% endif %}
        {% if message %}
        <h4 class="text-danger">{{message}}</h4>
        {% endif %}
    </div>
</div>
</body>
</html>
