{% extends "base.html" %}
{% block content %}
<style>
  .category {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: text-top;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
  }

  .software {
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    font-size: 14px;
  }

  .software:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: red;
  }

  .panel {
    padding-bottom: 1rem;
  }

  .brand-img {
    height: 65px;
    width: 65px;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    border: 1px solid white;
  }

  [data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
  }

  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
    transition: opacity 0s linear 0.5s;
  }

</style>
<div class="main-content">
  <div class="panel">
    {% for distribution in distributions %}
      {{distribution.install_candidate_aggregate}}
      <img id="{{distribution.id}}" class="brand-img" src="{{distribution.logo_url}}" alt="{{distribution.name}} logo" onclick="selectDistro(this);" is-selected="false" />
    {% endfor %}
  </div>
  <div class="panel">
    <input type="checkbox" id="sudo" name="sudo" value="sudo" checked>
    <label for="sudo">Sudo (recommended)</label>
  </div>
  <div class="panel">
    {% for category in software-categories %}
      <div class="category">
        <div class="category-header">{{category.name|linebreaks|safe}}</div>
        {% for item in software-report %}
          {% ifequal item.software_category_id category.id %}
            <div class="software" onclick="select(this);" selected="false" data-tooltip="{{item.description}}" value="{{item.install_candidate_aggregate}}">
              {{item.software_name}}
            </div>
          {% endifequal %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="panel">
    <input type="button" onclick="copyTextAreaToClipboard()" value="Copy to Clipboard" />
    <input type="button" onclick="download('sh')" value="Download (.sh)" />
    <input type="button" onclick="download('txt')" value="Download (.txt)" />
  </div>
  <div class="panel">
    <textarea id="software-text-area" name="software-text-area" rows="20" cols="50"></textarea>
  </div>
</div>
{% script "js/populateTextArea.js" %}
{% script "js/copyTextAreaToClipboard.js" %}
{% script "js/download.js" %}
{% endblock %}
