{% extends "base.html" %}
{% block content %}
  <style>
    .form-input {
      text-align: right;
      font-family: "Courier New", Courier, monospace;
      font-weight: normal;
      font-size: 14px;
    }

    .login-message {
      text-align: center;
      font-family: "Courier New", Courier, monospace;
      font-weight: normal;
      font-size: 14px;
      color: red;
    }
  </style>

  <div class="auth-form">
    <form id="login-form" name="input" action="/login" method="POST" onsubmit="formCheck(this)">
      {% csrf-field %}
      <div class="form-input">Username: <input type="text" name="username" id="username"></div>
      <div class="form-input">Password: <input type="password" id="password"></div>
      <div class="form-input"><input type="password" name="passhash" id="passhash" hidden></div>
      <div class="form-input"><input type="submit" value="Submit"></div>
    </form>
  </div>

  {% if message %}
  <div class="login-message">{{message}}</div>
  {% endif %}

  {% script "js/sha256.js" %}
  <script type="text/javascript">
    function formCheck(form) {
      document.getElementById("passhash") = sha256(document.getElementById("password"));
    }
  </script>
{% endblock %}
