{% extends "base.html" %}
{% block content %}
  <style>
    .instructions {
      margin-left: 30%;
      margin-right:30%;
      text-align: center;
      padding-bottom: 30px;
      font-family: "Courier New", Courier, monospace;
      font-weight: normal;
      font-size: 14px;
    }

    .form-input {
      text-align: right;
      font-family: "Courier New", Courier, monospace;
      font-weight: normal;
      font-size: 14px;
    }
  </style>
  <div class="instructions">
    There are 0 non-root users in the database. Please enter the name of the credentials of the system operator. You will never see this page again once this is done.
  </div>
  <div class="auth-form">
    <form name="input" action="/signup" method="POST" onsubmit="formCheck(this)">
      {% csrf-field %}
      <div class="form-input">Username: <input type="text" name="username" id="username"></div>
      <div class="form-input">Password: <input type="password" id="password"></div>
      <div class="form-input"><input type="password" name="passhash" id="passhash" hidden></div>
      <div class="form-input">Email: <input type="email" name="email" id="email"></div>
      <div class="form-input"><input type="submit" value="Submit"></div>
    </form>
  </div>

  {% script "js/sha256.js" %}
  <script type="text/javascript">
    function formCheck(form) {
      document.getElementById("passhash") = sha256(document.getElementById("password"));
    }
  </script>
{% endblock %}
